adf_etl/pipeline/PL API STG MARCA_copy1.json
{
	"name": "PL API STG MARCA_copy1",
	"properties": {
		"description": "NECESSÁRIO INFORMAR PARAMETRO DE MES E PERIODO DE REFERENCIA\n",
		"activities": [
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP MES REFERENCIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP MES REFERENCIA').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GET DADOS DINAMICOS DE SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['Label']"
											},
											"sink": {
												"name": "NME_MARCA",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Value']"
											},
											"sink": {
												"name": "COD_MARCA",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "JSON_FIPE_MARCA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADS_FIPE_STG_MARCA",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP MES REFERENCIA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCOD_TIPO_MODELO, \nCOD_MES_REFERENCIA, \nconcat('?codigoTipoVeiculo=', COD_TIPO_MODELO, '&codigoTabelaReferencia=', COD_MES_REFERENCIA) as URL_PARAMS\nFROM FIPE.STG_MES_REFERENCIA\nCROSS join fipe.STG_TIPO_MODELO",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADS_FIPE_STG_REFERENCIA",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"folder": {
			"name": "TESTES"
		},
		"annotations": []
	}
}