adf_etl/pipeline/PL API STG MARCA.json
{
	"name": "PL API STG MARCA",
	"properties": {
		"description": "NECESSÁRIO INFORMAR PARAMETRO DE MES E PERIODO DE REFERENCIA\n",
		"activities": [
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP MES REFERENCIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP MES REFERENCIA').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "API PARA STG MARCA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": "{}",
									"additionalHeaders": {
										"codigoTipoVeiculo": {
											"value": "@item().COD_MES_REFERENCIA",
											"type": "Expression"
										},
										"codigoTabelaReferencia": {
											"value": "@item().COD_TIPO_VEICULO",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table FIPE.STG_MARCA",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "REST_FIPE_MARCA",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADS_FIPE_STG_MARCA",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP MES REFERENCIA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COD_MES_REFERENCIA, COD_TIPO_MODELO\nFROM FIPE.STG_MES_REFERENCIA\nCROSS join fipe.STG_TIPO_MODELO\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADS_FIPE_STG_REFERENCIA",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"folder": {
			"name": "API FIPE"
		},
		"annotations": []
	}
}