adf_etl/pipeline/PL API STG MARCA.json
{
	"name": "PL API STG MARCA",
	"properties": {
		"description": "NECESSÁRIO INFORMAR PARAMETRO DE MES E PERIODO DE REFERENCIA\n",
		"activities": [
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP MES REFERENCIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP MES REFERENCIA').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://veiculos.fipe.org.br/api/veiculos/ConsultarMarcas?codigoTipoVeiculo=',item().COD_TIPO_VEICULO, '&codigoTabelaReferencia=',item().COD_MES_REFERENCIA)",
									"type": "Expression"
								},
								"method": "POST"
							}
						}
					]
				}
			},
			{
				"name": "LKP MES REFERENCIA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COD_MES_REFERENCIA, COD_TIPO_MODELO\nFROM FIPE.STG_MES_REFERENCIA\nCROSS join fipe.STG_TIPO_MODELO\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADS_FIPE_STG_REFERENCIA",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"folder": {
			"name": "TESTES"
		},
		"annotations": []
	}
}